<h1>Station Map</h1>

<div id="map-canvas">
	<%= render partial: "map" %>
</div>

<h2>All Stations</h2>

<table class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Bikes</th>
			<th>Slots</th>
		</tr>
	</thead>
	<tbody>
		<% @all.each do |station| %>
			<tr>
				<td><%= link_to station["name"].truncate(50), station_show_path(station["id"]) %></td>
				<td><%= station["nbBikes"] %></td>
				<td><%= station["nbEmptyDocks"] %></td>
			</tr>
		<% end %>
	</tbody>
</table>