html, body, #map-canvas {
	height: 250px;
	width: 250px;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

table {
	th, td {
		text-align: left;
		padding: 10px;
	}
}
